[submodule "Module 1 - Introduction to JavaScript DOM/technical-lesson-dom-manipulation"]
	path = Module 1 - Introduction to JavaScript DOM/technical-lesson-dom-manipulation
	url = git@github.com:nrathbone-turing/javascript_fundamentals_frontend.git
